@font-face {
    font-family: "Roboto";
    src: url(../../fonts/Roboto-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: "Roboto Thin";
    src: url(../../fonts/Roboto-Thin.ttf);
    font-display: swap;
}