.firstscreen {
    background: url(../img/fon.jpg) center (center/cover) no-repeat;
    height: 700px;
    padding: 40px 0 194px 0;
    &__row {
        &_nav nav{
            display: flex;
            font-size: 13px;
            line-height: 26px;
            font-weight: 700;
            text-transform: uppercase;
            color: $text-color2;
            list-style: none;
            justify-content: space-between;
            cursor: pointer;
        }
        &_logo img{
            width: 140px;
            height: 65px;
        }
    }
    &__textblock {
        margin-top: 130px;
        width: 529px;
        &_title {
            font-size: 42px;
            line-height: 48px;
            font-weight: 900;
            color: $text-color2;
        }
        &_subtitle {
            margin: 20px 0 30px 0;
            font-size: 24px;
            line-height: 30px;
            color: $text-color2;
            font-family: "Roboto Thin";
        }
    }
}